.playlist-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.playlist-header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.playlist-drag-handle {
    width: 40px;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
    margin: 0 auto 10px;
}

.playlist-container .rv-pull-refresh,
.playlist-container .rv-list {
    flex: 1;
    overflow-y: auto;
}

.playlist-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* 在文件末尾添加以下样式 */
.chrome-extension .playlist-container {
    max-height: 300px;
}

.chrome-extension .playlist-header {
    padding: 5px;
}

.chrome-extension .playlist-drag-handle {
    margin-bottom: 5px;
}