.heder-box {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, #DDA0DD, #FFB6C1); */
    background-image: url('../assets/bak.jpg');
    background-size: cover;
    background-position: center;
}

.profile-container {
    /* background: linear-gradient(to bottom, #DDA0DD, #FFB6C1); */
    width: 100%;
    height: 100%;

}

.form-container {
    padding: 16px;
    flex: 1;
    /* 使其填满剩余空间 */
    overflow-y: auto;
    /* 使内容可以上下滚动 */
    max-height: calc(100vh - 200px);
    /* 设置最大高度，确保有空间滚动 */
}

.button-custom {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 17%;
    position: absolute;
    right: 16px;
    top: 11%;
    background-color: #FF4C39;
}
