.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-bottom: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom, #DDA0DD, #FFB6C1);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 改回 center */
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 5vh 0;
  /* 上下都添加一些内边距 */
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto 0;
  /* 使用 auto 使容器在垂直方向上居中 */
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 在文件末尾添加以下样式 */
.chrome-extension {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.chrome-extension .App-header {
  min-height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.chrome-extension .App-logo {
  height: 15vmin;
}

.chrome-extension .music-container {
  max-width: 300px;
}

/* 添加以下代码以仅删除主页面滚条 */
html,
body {
  overflow: hidden;
}

/* 对于 Webkit 浏览器（如 Chrome、Safari） */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* 对于 Firefox */
html,
body {
  scrollbar-width: none;
}

/* 对于 IE 和 Edge */
html,
body {
  -ms-overflow-style: none;
}

.image-container {
  width: 100vw;
  /* 稍微减小宽度 */
  height: 100vw;
  /* 稍微减小高度 */
  max-width: 300px;
  /* 减小最大宽度 */
  max-height: 300px;
  /* 减小最大高度 */
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  /* 上下间距20px，左右自动居中 */
}

.App-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chrome-extension .music-container {
  padding: 20px;
}

/* 为 chrome 扩展版本设置稍小一些的尺寸 */
.chrome-extension .image-container {
  width: 150px;
  height: 150px;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.breathing-image {
  animation: breathe 2s ease-in-out infinite;
}

/* 为较大的屏幕添加额外的样式 */
@media screen and (min-height: 700px) {
  .App-header {
    justify-content: center;
    /* 保持居中 */
  }

  .music-container {
    margin: auto 0;
    /* 在较高的屏幕上保持垂直居中 */
  }
}

@media screen and (min-height: 800px) {
  .App-header {
    padding: 8vh 0;
    /* 在更大的屏幕上增加上下内边距 */
  }

  .image-container {
    margin-bottom: 30px;
    /* 稍微减少图片容器的底部边距 */
  }
}

.loginBox {
  width: 80%;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginHeader{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}